.site {
  @include justify;

  .site-content {
    padding: 20px;
  }
}
  header {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: gray;
  font-size: 25px;
  color: white;
  padding: 10px;

    span {
      width: 50%;
      justify-content: center;
      display: flex;
    }

    div{
      width: 50%;
      justify-content: center;
      display: flex;
    }

    .photo {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
    }
}

.heroes-list {
  position: relative;
  display: inline-block;
  width: 49%;
  vertical-align: top;
  align-items: baseline;
  text-align: center;
  padding: 15px 2px;
  border: 2px solid gray;
}
.hero-single {
  display: inline-block;
  width: 30%;
  height: 200px;
  text-align: center;
  border: 2px solid gray;
  padding: 3px;
  margin: 5px;

  .photo {

    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 120px;
  }

}

.hero-single_inner {
  height: 100%;
  width: 100%;
}

@media (min-width: $phone-landscape) {

  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

  }
}

